{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>
        Alex Roger Finds |
        {% block title %}
        Base
        {% endblock title %}
    </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static '/home/images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static '/home/images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static '/home/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static '/home/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static '/home/css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="right-phone-box">
                        <p>Call US :- <a href="tel:{{home_page.call_number}}"> {{home_page.call_number}}</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            <li><a href="#"><i class="fas fa-location-arrow"></i> Our location</a></li>
                            <li><a href="#"><i class="fas fa-headset"></i> Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="login-box">

                        <!-- <a  style="background: #b0b435;padding: 5px 20px;color: white;font-weight: bold;"> My Account</a> -->

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {% if request.user.is_authenticated %}
                                My Account
                                {% else %}
                                Login
                                {% endif %}
                            </button>
                            <ul class="dropdown-menu">
                                {% if request.user.is_authenticated %}
                                <li><a class="dropdown-item" type="button" href="{% url 'my_account' %}">My Account</a></li>
                                <li><a class="dropdown-item" type="button" href="{% url 'FavList' %}">Fav List</a></li>
                                <li><a class="dropdown-item" type="button" href="{% url 'logout' %}">Logout</a></li>
                                {% else %}
                                <li><a class="dropdown-item" type="button" href="{% url 'login' %}">Login</a></li>
                                <li><a class="dropdown-item" type="button" href="{% url 'registration' %}">Registration</a></li>
                                {% endif %}
                            </ul>
                        </div>

                        <!-- <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
                            <option><a href="{% url 'registration' %}">Register Here</a></option>
                            <option>Sign In</option>
                        </select> -->
                    </div>


                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">

                                {% for i in home_page.offer_title.all %}
                                <li>
                                    <i class="fab fa-opencart"></i> {{i.title|title}}
                                </li>
                                {% endfor %}


                                <!-- <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <a class="navbar-brand" href="{% url 'home' %}">
                        {% if home_page.logo %}
                        <img src="{{home_page.logo.url}}" class="logo" alt="" style="height: 70px;">
                        {% else %}
                        <h1><b>Alex Roger Finds</b></h1>
                        {% endif %}
                    </a>

                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">About Us</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">SHOP</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'FavList' %}">Fav List</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        
                        <li class="side-menu">
                            <a href="#">
                                <i class="fa fa-shopping-bag"></i>
                                {% if favourite_list %}
                                <span class="badge" style="color: black;">{{favourite_list.product.count}}</span>
                                {% endif %}
                                <p>My Cart</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        {% if favourite_list and favourite_list.product.exists %}
                        {% for favourite_list in favourite_list.product.all %}
                        <li>
                            <a href="{% url 'product_details' favourite_list.id favourite_list.slug %}" class="photo"><img src="{{favourite_list.image.url}}"
                                    class="cart-thumb" alt="" /></a>
                            <h6><a href="{% url 'product_details' favourite_list.id favourite_list.slug %}">{{favourite_list.title|title}} </a></h6>
                            <p>1x - <span class="price">${{favourite_list.discount_price}}</span></p>
                        </li>
                        {% endfor %}
                        {% else %}
                        <p style="margin: auto; font-weight: bold; text-align: center; padding: 5px;">No Found</p>
                        {% endif %}

                        <li class="total" style="text-align: center;">
                            <a href="{% url 'FavList' %}" class="btn btn-default hvr-hover btn-cart">VIEW FAV</a>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->


        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->


    {% block body_content %}



    {% endblock body_content %}


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: {{footer_contact_us.address}}
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a
                                            href="tel:{{footer_contact_us.phone_number}}">
                                            {{footer_contact_us.phone_number}}
                                        </a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email:
                                        <a href="mailto:{{footer_contact_us.email}}">
                                            {{footer_contact_us.email}}
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                {% for footer_useful_links in footer_useful_links %}
                                <li><a href="{{footer_useful_links.url}}">
                                        {{footer_useful_links.title|title}}
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Social Media</h3>
                            <p>Connect With our Social Media.</p>
                            <ul>
                                <li>
                                    <a {% if footer_social_links.facebook %} href="{{footer_social_links.facebook}}"
                                        target="_blank" {% endif %}>
                                        <i class="fab fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a {% if footer_social_links.twitter %} href="{{footer_social_links.twitter}}"
                                        target="_blank" {% endif %}>
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a {% if footer_social_links.linkdin %} href="{{footer_social_links.linkdin}}"
                                        target="_blank" {% endif %}>
                                        <i class="fab fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a {% if footer_social_links.youtube %} href="{{footer_social_links.youtube}}"
                                        target="_blank" {% endif %}>
                                        <i class="fab fa-youtube" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a {% if footer_social_links.whatsapp %} href="{{footer_social_links.whatsapp}}"
                                        target="_blank" {% endif %}>
                                        <i class="fab fa-whatsapp" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2024 <a href="#">Alex Roger Finds</a> Design By :
            <a href="https://html.design/">html design</a> & Developed By: <a
                href="https://www.facebook.com/samim.o.sabuj03/" target="_blank">Samim Osman</a>
        </p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    
    <script src="{% static '/home/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/home/js/popper.min.js' %}"></script>
    <script src="{% static '/home/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static '/home/js/jquery.superslides.min.js' %}"></script>
    <script src="{% static '/home/js/bootstrap-select.js' %}"></script>
    <script src="{% static '/home/js/inewsticker.js' %}"></script>
    <script src="{% static '/home/js/bootsnav.js' %}."></script>
    <script src="{% static '/home/js/images-loded.min.js' %}"></script>
    <script src="{% static '/home/js/isotope.min.js' %}"></script>
    <script src="{% static '/home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static '/home/js/baguetteBox.min.js' %}"></script>
    <script src="{% static '/home/js/form-validator.min.js' %}"></script>
    <script src="{% static '/home/js/contact-form-script.js' %}"></script>
    <script src="{% static '/home/js/custom.js' %}"></script>
</body>

</html>