{% extends 'base.html' %}
{% load static %}

{% block title %}
Fav List
{% endblock title %}

{% block body_content %}
<hr>
<div class="cart-box-main">
    <div class="container">


        <div class="row">
            <div class="col-lg-12">
                {% if favourite_list and favourite_list.product.exists %}
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Orday By</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for favourite_list in favourite_list.product.all %}
                            <tr>
                                <td class="thumbnail-img">
                                    <a href="{% url 'product_details' favourite_list.id favourite_list.slug %}">
                                        <img class="img-fluid" src="{{favourite_list.image.url}}" alt="">
                                    </a>
                                </td>
                                <td class="name-pr">
                                    <a href="{% url 'product_details' favourite_list.id favourite_list.slug %}">
                                        {{favourite_list.title|title}}
                                    </a>
                                </td>
                                <td class="price-pr">
                                    <p>$ {{favourite_list.discount_price}}</p>
                                </td>
                                <td class="total-pr">
                                    <a href="{{favourite_list.url}}" target="_blank">Order Now</a>
                                </td>
                                <td class="remove-pr">
                                    <a href="{% url 'remove_to_fav' favourite_list.id %}">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                {% else %}
                <h2 style="text-align: center;">No Found</h2>
                {% endif %}
            </div>
        </div>


    </div>
</div>
<hr>
{% endblock body_content %}